.checkbox{
    margin: 9px;
}

.task{
    margin: 0 auto 20px;
    /* width: 18rem; */
}

.active{
    border: 2px solid #0965c7;
}

.done{
    border: 2px solid #9da1a5;
}

.checked{
    border: 2px solid red;
}

